# Project exclude paths
/venv/
.idea/.gitignore
.idea/dataSources.xml
.idea/dictionaries/
.idea/inspectionProfiles/
.idea/microblog.iml
.idea/misc.xml
.idea/modules.xml
.idea/rSettings.xml
.idea/vcs.xml
__pycache__/
app.db
app/__init__.pyc
app/__pycache__/
app/auth/__pycache__/
app/errors/__pycache__/
app/main/__pycache__/
app/translations/ru/LC_MESSAGES/messages.mo
logs/
messages.pot
migrations/__pycache__/
migrations/versions/3745b495ccab_private_messages.py
migrations/versions/__pycache__/
migrations/versions/abe0170011ab_notifications.py
dump.rdb
migrations/versions/c9315a000e50_tasks.py
